@import url('https://fonts.googleapis.com/css2?family=Oswald');

:root {
    --primary-100: #77a87d;
    --primary-300: #4A8754;
    --primary-500: #25562E;
    --primary-700: #0D3313;
    --primary-900: #001903;

    --accent-color-1: #dcfdd3;
    --accent-color-2: #cb6f45;

    --sans-serif: 'Oswald', sans-serif;
    --serif: 'IBM Plex Serif', serif;
}

.second-background {
 background-color: var(--primary-700);
}


.height100 {
    min-height: 100vh;
}

.width100 {
    max-width: 100vw;
}

.icons {
    margin-right: 8px;
    color: var(--accent-color-2);
}

html, body {
    height: 100%;
}

body {
    background-color: var(--primary-700);
    /* background-image: url("\\images\\preview.jpg"); */
}

.border-color {
    background-color: var(--primary-500);
    /* opacity: 25%; */
}

.body-border {
    border: 10px solid black;
    border-width: 0px 10px;
    border-radius: 0%;
}

.serif {
    font-family: 'IBM Plex Serif', serif;
}

.sans-serif {
    font-family: 'Oswald', sans-serif;
}

.primary-text {
    color: var(--accent-color-1);
}

.secondary-text {
    color: var(--primary-100);
}

.header-deco {
    -webkit-text-stroke: 0.5px var(--primary-900);
    text-shadow:
        2.5px 2px 0 black,
      -1px -1px 0 black,
       1px -1px 0 black,
       -1px 1px 0 black,
        1px 1px 0 black;
}

.card-text {
    color: var(--primary-900)
}

.card-line-deco {
    border-color: var(--primary-900);
    border-width: 4px;
    margin-top: 0;
    opacity: 100%;
}

.card-accent {
    background-color: var(--accent-color-1);
    text-align: left !important;
}

.card-icons {
    float: right !important;
    margin-right: 8px;
    padding-top: 10px;
    color: var(--primary-900)
}

.p-font-size {
    font-size: 20px;
}

.link-text {
    color: var(--primary-300)
}

.card.override-bs {
    border-radius: 0%;
    background-color: var(--primary-100);
    border-color: black;
    border-width: 8px;
    padding: 0;
    height: 600px;
    box-shadow: 5px 5px 0px black;
}

.card-header.override-bs {
    border-bottom: 0px;
    background-color: var(--primary-100);
    height: 30%;
}

.card-img-style {
    width: 90%;
    height: 100%;
}

a {
    text-decoration: none;

}

a:hover {
    color: var(--primary-900);
}

.button-border {
    border: 4px solid var(--primary-900);
    border-radius: 0%;
    box-shadow: 5px 5px 0px var(--primary-900);
}

.project-button {
    min-width: 86px;
    letter-spacing: 0.5px;
}

.img-border {
    border-color:var(--primary-900);
    border-style: solid;
    border-width: 4px;
    aspect-ratio: 4 / 3;
}

.btn-primary.override-bs {
    background-color: var(--accent-color-2);
}


.hover-underline-animation {
    display: inline-block;
    margin-left: 8px;
    position: relative;
    color: var(--primary-900);
  }
  
  .hover-underline-animation::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color:var(--primary-900);
    transform-origin: bottom left;
    transition: transform 0.25s ease-out;
  }
  
  .hover-underline-animation:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }