:root {
    --primary-100: #84BC8B;
    --primary-300: #4A8754;
    --primary-500: #25562E;
    --primary-700: #0D3313;
    --primary-900: #001903;

    --accent-color-1: #f9fdd3;
    --accent-color-2: #cb6f45;
}


.height100 {
    min-height: 100vh;
}

.width100 {
    max-width: 100vw;
}

.icons {
    margin-right: 8px;
    color: var(--accent-color-2);
}

html, body {
    height: 100%;
}

body {
    background-color: var(--primary-700);
}

.border-color {
    background-color: var(--primary-500);
}

.primary-text {
    color: var(--primary-100);
}

.link-text {
    color: var(--primary-300)
}

.card.override-bs {
    border-radius: 0%;
    background-color: var(--primary-700);
    border-color: var(--primary-500);
    border-width: 3px;
}

.card-header.override-bs {
    border-bottom: 0px;
}

h1, h2, h3 {
    font-family: Helvetica
}

.img-border {
    border-color:var(--primary-900);
    border-style: solid;
    border-width: 2px;
}

.btn-primary.override-bs {
    background-color: var(--accent-color-2);
}
.top-space {
    height: 50px
}